.box1 {
    background-color: yellow;
    height: 400px;
    width: 600px;

}

.box2 {



    background-color: pink;
    height: 400px;
    width: 250px;
}

 .box3 {
    background-color: gray;
    height: 300px;
    width: 100px;
 }